<!DOCTYPE html>
<html>
    <body>
        <h1> Welcom to the api</h1>
        <h2> Enter the features of the bank note</h2>

        <form action = "/predict" method="post">
            <label for="Variance">Variance: </label><br>
            <input type="text" id="Variance" name="Variance" value="0"><br>
            <label for="Skewness">Skewness: </label><br>
            <input type="text" id="Skewness" name="Skewness" value="0"><br>
            <label for="curtosis">curtosis: </label><br>
            <input type="text" id="curtosis" name="curtosis" value="0"><br>
            <label for="entropy">entropy: </label><br>
            <input type="text" id="entropy" name="entropy" value="0"><br><br>
            <input type="submit" value="Submit">
            
        </form>

    </body>
</html>